body{
    font-family: 'Roboto', sans-serif;
}
.btn-primary{
    padding: 15px 30px;
    color: white;
    border: none;
    border-radius: 5px;
    background: #FD6E0A;
    font-size: 20px;
    font-weight: bold;
}
/* nav bar styling */

.header{
    background: #FFF8F3;
    background-image: url('../images/header_bg.png'), url('../images/developer.png');
    background-repeat: no-repeat;
    background-size: 500px, 80px;
    background-position: bottom right, bottom left;
}
nav{
    margin: 0 160px;
    display: flex;
    justify-content: space-between;
}
h1{
    color: #181818;
    font-size: 55px;
    font-weight: 800;
}
h1 span{
    color: #FD6E0A;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-right: 50px;
}
nav ul li a{
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: #474747;
}
/*  banner styling   */
.banner{
    display: flex;
    padding: 30px 30px 0px 150px;
    align-items: center;
    justify-content: space-between;
}
.banner .banner-content .banner-greatting{
color: #474747;
font-size: 25px;
font-weight: 600;
margin-bottom: 0px;
}
.banner .banner-content .banner-title{
    color: #181818;
    font-size: 40px;
    font-weight: 700;
    margin-top: 10px;
}
.banner .banner-content .banner-description{
    width: 500px;
    color: #757575;
    font-size: 18px;
    font-weight: 400;
}
.profile-image{
    width: 400px;
    height: 450px;
}

/* Section Styling */
main{
    margin: 100px auto;
    max-width: 1140px;
}

section{
    padding: 50px 150px;
    margin: 50px auto;
    max-width: 1140px;
}
.about{
    border-radius: 10px;
    background: #FFF8F3;
}
.section-title{
    text-align: center;
    color: #181818;
    font-weight: 700;
}
.section-description{
    text-align: center;
    color: #757575;
    font-weight: 400;
    font-size: 18px;
}
.item-info-container{
    display: flex;
    justify-content: space-between;
}
.info-item{
    text-align: center;
}
.info-title{
    color: #757575;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 0px;
}
.info-description{
    color: #474747;
    font-size: 20px;
    font-weight: 700;
    margin-top: 10px;
}
/* styling section 2 */

.skills-container{
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
}
.skills{
    padding: 15px 10px 30px 10px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    

}
.skills-title{
    color: #181818;
}
.skills-description{
    width: 170px;
    color: #757575;
}
/*styling  Section 3 */
.resume-container{
    display: flex;
    justify-content: space-between;
}
.column-title{
    color: #474747;
    margin-bottom: 30px;
}
.resume-column{
    width: 360px;
}
/*
.resume-item{
    margin: 10px 0px;
}
*/
.resume-item-title{
    color: #474747;
    margin-bottom: 0px;
}
.resume-item-institute{
    color: #757575;
    font-size: 15px;
    margin-bottom: 0px;
    margin-top: 15px;
}
.resume-item-description{
    color: #757575;
    margin-top: 15px;
    font-size: 14px;
}

